example/config.yml
example/main
example/XrayR
example/XrayR*
example/mytest
example/access.logo
example/error.log
api/chooseparser.go.bak
app/Inboundbuilder/.lego/
app/legocmd/.lego/
.vscode/launch.json
example/.lego
example/cert
./vscode
output/*
.idea/*
newV2bX.sh
quic_singbox.sh
UPSTREAM_SYNC.md
node/1.key
node/1.pem
node/cert/user/user-test@test.com.json
.DS_Store
